/*------------------------- header ---------------------*/

@media (max-width: 767px){
.mybtn {
    margin: 0 3px 3px 3px !important;
    padding: 5px 16px !important;
    font-size: 12px !important;
 }
}


.mybtn-lg {
    padding: 12px 48px;
    font-size: 20px;
    line-height: 1.33;
}
.mybtn {
	margin: 0 12px;

    font-family: IRANSans;
    border-radius: 40px;
    border: 1px solid;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.mybtn:hover, .mybtn:focus{
 text-decoration: none;
}

.mybtn-warning {
    color: #ffffff !important;
    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
}

.mybtn-warning:hover .mybtn-warning:focus .mybtn-warning:active{
    color: #ffffff !important;
    background-color: #ed9c28 !important;
    border-color: #ed9c28 !important;
    box-shadow: none;
}

.mybtn-primary {
    color: #ffffff !important;
    background-color: #1abc9c !important;
    border-color: #1abc9c !important;
}

.mybtn-primary:hover .mybtn-primary:focus .mybtn-primary:active {
    color: #ffffff !important;
    background-color: #15987e !important;
    border-color: #15987e !important;
    box-shadow: none;
}

/*----------------------------------- row3 --------------------------------------*/
#mygtco-our-team {
    padding: 12em 0;
    clear: both;
}

.imgback {
 	background-size: 110%;
    background-position: 52.7838% 26.3919%;
    background: url(../images/bg-slogan.jpg) !important;
    background-size: cover !important;
    display: block;position: relative;
   }

.rowback {
	background-image: linear-gradient(to bottom, transparent 0, #000000 130%);
    background-repeat: repeat-x;
}

/*----------------------------------- farsi ---------------------------------------*/
.dre{
	direction: rtl;
}

.txtr{
	text-align: right !important;
}

.fltr{
float: right;
}

/*----------------------------------- vavbar ---------------------------------------*/

@media screen and (max-width: 768px) {
	.fltn{
     float: none !important;
	}
}

/*--------------------------------- footer ----------------------------------------*/
.index-social{
    background-color:#2c2c2c;
    color:#fff;
}
.link-area .fa-li{
    width:40px;
    height:40px;
    border-radius:50%;
    border:solid 1px #fff;
    list-style-type:none;
    margin:5px;
    display:inline-block;
}
.index-social a{
    color:#fff;
    font-size:25px;
    display:block;
    float:left;
    padding:10px;
}
.index-link h3{
    text-align:center;
   color:#f1f1f1;
   text-align:left;
   
}
.index-link{
    background-color:#222222;
}
.index-link ul{
    padding:0px;
}
.index-link ul li{
    list-style-type:none;
}
.index-link ul li a{
  text-decoration:none;
  font-size:16px;
  color:#fff;
  display:block;
  padding:5px 0;
}
.index-link ul li a:hover{
     text-decoration:underline;
}
.copy-c{
    padding-top:15px;
}




